// Colors

$color-primary: #005a96;
$color-primary-light: #000;
$color-primary-dark: #005a96;

//Font colors

$font-light: #fff;
$font-grey: #a2a2a2;
$font-dark: #000;

//Backgroudn colors

$background-light: #fff;
$background-grey-light: #fafafa;

//Border colors

$border-grey: #dbdbdb;
$border-blue: #85b7d9;
$border-dark: #000;

// Button colors

$action: #005a96;
$sucess: #1ee01e;
$danger: #ed4956;

// Shadows

// Dash board colors

// Shadows
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
